@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display:wght@400;500;700&display=swap');

:root{
  --font-primary: 'Playfair Display', serif;
  --font-secondary:'Lora', serif;
   
  --color-lightgray: #d1d0d0;
  --color-gray : #c2c1c1;
  --color-darkgray :#c0bcbc;
  --color-font-p : #444444;
  --color-font-s : #3d4256;
  --color-golden :#804C09;
  --color-lightgold : #BF720D;



}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
