.header{
    background: var(--color-lightgray);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__content{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.header__img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img img{
    width: 90%;
}

@media screen and (max-width:770px) {
    .header{
        flex-direction: column;
    }
    .header__content{
        margin-top: 2rem;
    }
    .header__content h1{
        font-size: 52px;
        line-height: 63px;
    }
}

@media screen and (max-width:550px) {
    .header__content{
       align-items: center;
       margin-top: 3.5rem;
    }
    .header__content h1{
        font-size: 32px;
        line-height: 42px;
    }
    .header__content p{
        font-size: 14px;
        line-height: 22px;
    }
    .header__content button{
        padding: 0.2rem 0.7rem;
        font-size: 14px;
    }
}


